.container {
  width: 100%;
  @include calc-max-width(1630, 1920);
  padding: 0 30px;
  margin: 0 auto;

  @include r($mobile) {
    max-width: 100%;
    padding: 0 24px;
  }

  &--fluid {
    max-width: 100%;
  }

  &--no-padding {
    @include calc-max-width(1630, 1920);
    padding: 0;

    @include r($mobile) {
      max-width: 100%;
    }
  }
}
