@use "sass:math";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 23px 40px;

  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: $white;

  border: 2px solid $primary;
  border-radius: 100px;
  background-color: $primary;

  transition: .2s linear;
  cursor: pointer;

  @include r($mobile) {
    max-width: 255px;
    gap: 10px;
    padding: 12px 40px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  &:hover {
    background-color: #4DBED0;
    border-color: #4DBED0;
    opacity: 1;
  }

  &--outline {
    text-transform: none;
    color: $violet;
    background-color: transparent;
    border-color: $violet;
    opacity: 1;

    &:hover {
      color: $white;
      background-color: $violet;

      .button__icon {
        &--default {
          fill: $white;
        }
      }
    }

    .button__icon {
      &--default {
        fill: $violet;
      }
    }
  }

  &--main {
    padding: 35px math.floor(calc(150 / 1350 * 100%));

    @include r($mobile) {
      padding: 22px 27px;
    }
  }

  &--big {
    padding: 30px;

    @include r($mobile) {
      padding: 10px 30px;
      text-align: center;
    }
  }

  &--icon {
    padding: 10px;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    transform: rotate(-45deg);
    fill: $white;
    transition: .2s linear;

    &--default {
      width: 23px;
      height: 8px;
      transform: none;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &--light {
    color: $white;
    border-color: $white;
  }

  &--wide-mob {
    @include r($mobile) {
      width: 100%;
      max-width: 100%;
      padding: 21px 30px;
    }
  }

  &--slim {
    padding: 18px 40px;

    @include r($mobile) {
      padding: 12px 24px;
    }
  }

  &--social {
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    text-transform: uppercase;

    svg {
      display: flex;
      width: 32px;
      height: 20px;
      fill: $white;
    }
  }
}
