.header {
  padding-top: 20px;
  padding-bottom: 26px;
  z-index: 3;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__menu {

  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $violet;
  }

  &__button {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
  }

  &__place {
    flex-grow: 1;
  }
}
