.breadcrumbs {
  position: absolute;
  top: 40px;
  left: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  @include r($mobile) {
    top: 20px;
    left: 20px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $gray;

    @include r($mobile) {
      font-size: 10px;
      line-height: 12px;
    }

    &:not(:first-child) {
      &::before {
        content: '/';
      }
    }
  }

  a.breadcrumbs__link {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }
}
