<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pb-60">
        <div class="container container--fluid">
            <div class="intro">
                <div class="container container--no-padding">
                    <div class="grid">
                        <div class="grid__item grid__item--flex grid__item--8 grid__item-mob--4">
                            <div class="breadcrumbs">
                                <p class="breadcrumbs__link">
                                    <a href="#">Главная</a>
                                </p>
                                <p class="breadcrumbs__link">Наши специалисты</p>
                            </div>
                            
                            <div class="intro__wrapper">
                                <h1 class="intro__title title title--main">Наши специалисты</h1>
                                <p class="intro__text text text--big">
                                    Наши специалисты помогут Вам<br>
                                    диагностировать, в том числе и на раннем этапе
                                </p>
                            </div>
                        </div>
                        <div class="grid__item grid__item--1 mob-hidden"></div>
                        <div class="grid__item grid__item--flex-row grid__item--7 grid__item-mob--4">
                            <picture class="intro__picture picture-backdrop">
                                <img class="picture-backdrop__img" src="./assets/images/team.png" alt="">
                                <img class="picture-backdrop__img picture-backdrop__img--backdrop" src="./assets/images/team.png" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-110 pbm-60">
        <div class="container">
            <div class="grid grid--auto">
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-1.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Бердюгин Андрей Анатольевич</h3>
                            <p class="article-person__description">врач-офтальмолог, высшая квалификационная
                                категория</p>
                            <p class="article-person__exp">стаж работы — 41 год</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-2.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Крюкова Елена Вячеславовна</h3>
                            <p class="article-person__description">врач-офтальмолог, детский офтальмолог,
                                Кандидат медицинских наук</p>
                            <p class="article-person__exp">стаж работы — 33 года</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-3.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Кирюшина Дарья Андреевна</h3>
                            <p class="article-person__description">врач-педиатр</p>
                            <p class="article-person__exp">стаж работы — 00 год</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-1.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Бердюгин Андрей Анатольевич</h3>
                            <p class="article-person__description">врач-офтальмолог, высшая квалификационная
                                категория</p>
                            <p class="article-person__exp">стаж работы — 41 год</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-2.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Крюкова Елена Вячеславовна</h3>
                            <p class="article-person__description">врач-офтальмолог, детский офтальмолог,
                                Кандидат медицинских наук</p>
                            <p class="article-person__exp">стаж работы — 33 года</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item">
                    <article class="article-person">
                        <picture class="article-person__picture">
                            <img src="./assets/images/spec-3.png" alt="">
                        </picture>
                        <div class="article-person__info">
                            <h3 class="article-person__title">Кирюшина Дарья Андреевна</h3>
                            <p class="article-person__description">врач-педиатр</p>
                            <p class="article-person__exp">стаж работы — 00 год</p>
                            <div class="editor" data-content>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        Атрофия зрительного нерва
                                    </li>
                                    <li>
                                        Аденовирусный конъюнктивит
                                    </li>
                                    <li>
                                        Глаукома
                                    </li>
                                    <li>
                                        Астигматизм
                                    </li>
                                    <li>
                                        Миопия
                                    </li>
                                    <li>
                                        Катаракта
                                    </li>
                                    <li>
                                        Кератит
                                    </li>
                                    <li>
                                        Дальнозоркость
                                    </li>
                                </ul>
                                <br>
                                <h3>Профиль лечения:</h3>
                                <ul>
                                    <li>
                                        <span>1982 г.</span> Тюменский медицинский институт. Специальность:
                                        лечебное дело.
                                    </li>
                                    <li>
                                        <span>2019 г.</span> Автономная некоммерческая организация
                                        дополнительного профессионального образования «Академия медицинского
                                        образования».
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="article-person__more show-more" data-show-more>
                                <span>Читать подробнее</span>
                                <svg class="show-more__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </a>
                            <button class="article-person__button button">Записаться на прием</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-110 pbm-60">
        <div class="container">
            <div class="head-block head-block--row mb-40 mbm-30">
                <h2 class="title">Отзывы</h2>
                <div class="pro-doctor">
                    <picture class="pro-doctor__picture">
                        <img src="./assets/images/pro-doctorov.png" alt="">
                    </picture>
                    <div class="pro-doctor__footer">
                        <p class="pro-doctor__text">4.8</p>
                        <div class="pro-doctor__rating">
                            <svg class="pro-doctor__icon">
                                <use xlink:href="./assets/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="pro-doctor__icon">
                                <use xlink:href="./assets/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="pro-doctor__icon">
                                <use xlink:href="./assets/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="pro-doctor__icon">
                                <use xlink:href="./assets/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="pro-doctor__icon">
                                <use xlink:href="./assets/sprite.svg#icon-star"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider slider--pagination slider--relative" data-slider="cards" data-slides="3">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-review">
                                <div class="article-review__header">
                                    <div class="article-review__author">
                                        <h3 class="article-review__title">Петров Иван</h3>
                                        <time class="article-review__date" datetime="16.11.2024">16.11.2024</time>
                                    </div>
                                    <div class="article-review__rating">
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="article-review__content">
                                    <div class="article-review__picture" data-fancybox
                                         data-src="./assets/images/review.jpg">
                                        <img src="./assets/images/review.jpg" alt="">
                                        <div class="article-review__hover">
                                            <div class="article-review__icon">
                                                <svg>
                                                    <use xlink:href="./assets/sprite.svg#icon-zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-review__info">
                                        <h4 class="article-review__head">
                                            Лазерная коррекция зрения
                                        </h4>
                                        <p class="article-review__text">
                                            Коллектив центра состоит из высококвалифицированных врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз Коллектив центра состоит из высококвалифицированных
                                            врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз
                                        </p>
                                        <a href="#" class="show-more show-more--small">
                                            <span>Читать подробнее</span>
                                            <svg class="show-more__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-review">
                                <div class="article-review__header">
                                    <div class="article-review__author">
                                        <h3 class="article-review__title">Сорокина Ирина</h3>
                                        <time class="article-review__date" datetime="16.11.2024">16.11.2024</time>
                                    </div>
                                    <div class="article-review__rating">
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="article-review__content">
                                    <div class="article-review__picture" data-fancybox
                                         data-src="./assets/images/review.jpg">
                                        <img src="./assets/images/review.jpg" alt="">
                                        <div class="article-review__hover">
                                            <div class="article-review__icon">
                                                <svg>
                                                    <use xlink:href="./assets/sprite.svg#icon-zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-review__info">
                                        <h4 class="article-review__head">
                                            Лазерная коррекция зрения
                                        </h4>
                                        <p class="article-review__text">
                                            Коллектив центра состоит из высококвалифицированных врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз Коллектив центра состоит из высококвалифицированных
                                            врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз
                                        </p>
                                        <a href="#" class="show-more show-more--small">
                                            <span>Читать подробнее</span>
                                            <svg class="show-more__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-review">
                                <div class="article-review__header">
                                    <div class="article-review__author">
                                        <h3 class="article-review__title">Голубева Светлана</h3>
                                        <time class="article-review__date" datetime="16.11.2024">16.11.2024</time>
                                    </div>
                                    <div class="article-review__rating">
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="article-review__content">
                                    <div class="article-review__picture" data-fancybox
                                         data-src="./assets/images/review.jpg">
                                        <img src="./assets/images/review.jpg" alt="">
                                        <div class="article-review__hover">
                                            <div class="article-review__icon">
                                                <svg>
                                                    <use xlink:href="./assets/sprite.svg#icon-zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-review__info">
                                        <h4 class="article-review__head">
                                            Лазерная коррекция зрения
                                        </h4>
                                        <p class="article-review__text">
                                            Коллектив центра состоит из высококвалифицированных врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз Коллектив центра состоит из высококвалифицированных
                                            врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз
                                        </p>
                                        <a href="#" class="show-more show-more--small">
                                            <span>Читать подробнее</span>
                                            <svg class="show-more__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-review">
                                <div class="article-review__header">
                                    <div class="article-review__author">
                                        <h3 class="article-review__title">Петров Иван</h3>
                                        <time class="article-review__date" datetime="16.11.2024">16.11.2024</time>
                                    </div>
                                    <div class="article-review__rating">
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="visible">
                                            <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="article-review__content">
                                    <div class="article-review__picture" data-fancybox
                                         data-src="./assets/images/review.jpg">
                                        <img src="./assets/images/review.jpg" alt="">
                                        <div class="article-review__hover">
                                            <div class="article-review__icon">
                                                <svg>
                                                    <use xlink:href="./assets/sprite.svg#icon-zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-review__info">
                                        <h4 class="article-review__head">
                                            Лазерная коррекция зрения
                                        </h4>
                                        <p class="article-review__text">
                                            Коллектив центра состоит из высококвалифицированных врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз Коллектив центра состоит из высококвалифицированных
                                            врачей-офтальмологов и
                                            офтальмохирургов, обладающих большим опытом в лечении и диагностике
                                            заболеваний глаз
                                        </p>
                                        <a href="#" class="show-more show-more--small">
                                            <span>Читать подробнее</span>
                                            <svg class="show-more__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-control mob-hidden">
                        <button class="swiper-btn swiper-btn-prev">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                        <button class="swiper-btn swiper-btn-next">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-110 pbm-60">
        <div class="container">
            <div class="feedback">
                <form action="#" class="form">
                    <h2 class="form__title title title--small">Запишитесь на консультацию</h2>
                    <label class="form__item">
                        <input class="input" type="text" placeholder="Ваше имя*">
                    </label>
                    <label class="form__item">
                        <input class="input" type="tel" placeholder="Номер телефона*">
                    </label>
                    <textarea class="input input--area" placeholder="Ваш комментарий"></textarea>
                    <button class="button button--big" type="submit">Записаться на консультацию</button>
                    <label class="form__accept">
                        <input class="checkbox" type="checkbox">
                        <span>Нажимая кнопку вы соглашаетесь с условиями <a
                            href="#">Политики конфиденциальности</a></span>
                    </label>
                </form>
                <div class="feedback__doctor">
                    <picture class="feedback__picture">
                        <img src="./assets/images/doctor.jpg" alt="">
                    </picture>
                    <div class="feedback__info">
                        <h3 class="feedback__title title">Виктория Красных</h3>
                        <p class="feedback__text text text--subtitle">Офтальмолог</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
