.text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: $gray-black;

  @include r($mobile) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &--subtitle {
    color: $black;
  }

  &--bold {
    font-size: 26px;
    font-weight: 500;
    line-height: 33px;

    @include r($mobile) {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  &--big {
    font-size: 26px;
    font-weight: 500;
    line-height: 33px;
    color: $gray-black;

    @include r($mobile) {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
