.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  @include r($mobile) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    mix-blend-mode: multiply;
  }
}
