.head-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &--row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
