.input {
  display: flex;
  width: 100%;
  padding: 28px 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $gray;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
  border: 1px solid #ECECEC;

  @include r($mobile) {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &--area {
    min-height: 170px;
    border-radius: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #F5F8FF;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
    }
  }
}
