.input {
  display: flex;
  width: 100%;
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $gray;
  border-radius: 100px;
  overflow: hidden;
  background-color: $white;

  @include r($mobile) {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &--area {
    min-height: 170px;
    padding: 28px 30px;
    border-radius: 20px;
  }
}
