.burger {
  position: relative;
  display: block;
  width: 29px;
  height: 25px;
  overflow: hidden;

  @include r($mobile) {
    width: 22px;
    height: 20px;
  }

  &::before,
  &::after,
  &__item {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 29px;
    height: 4px;
    border-radius: 20px;
    background-color: $primary;
    transition: .2s linear;

    @include r($mobile) {
      width: 22px;
      height: 3px;
    }
  }

  &__item {
    top: 10px;
    left: 13px;
    width: 16px;
    transition: 0s;

    @include r($mobile) {
      top: 9px;
      width: 12px;
      left: 10px;
    }
  }

  &::after {
    top: 21px;

    @include r($mobile) {
      top: 17px;
    }
  }
}
