.show-more {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  @include r($mobile) {
    gap: 7px;
  }

  &.active {
    .show-more__icon {
      transform: rotate(180deg);
    }
  }

  span {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: $primary;
    text-decoration: underline;

    @include r($mobile) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__icon {
    display: flex;
    width: 10px;
    height: 10px;
    fill: $primary;
    transition: .2s linear;
  }

  &--small {
    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }
  }
}
