.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($gray-black, .9);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .2s linear;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__wrapper {
    position: relative;
    top: 99px;
    display: flex;
    margin-left: auto;
    width: 100%;
    max-width: 1405px;
    background-color: $white;
    height: 670px;
    border-radius: 20px;
    overflow: hidden;

    @include r($mobile) {
      top: 80px;
      height: calc(100dvh - 100px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 40px 40px 50px;
    background: linear-gradient(246.46deg, #F0F1FE 0%, #FDFEFF 47%, #EEEFFE 100%),
    linear-gradient(246.46deg, #F1F2F6 0%, #FDFEFF 47%, #F1F2F6 100%),
    linear-gradient(0deg, #F7F9FC, #F7F9FC);

    @include r($mobile) {
      padding: 40px 20px;
      width: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #EFF4FF;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 10px;
      }
    }

    .button {
      padding: 20px;
      max-width: 265px;
    }
  }

  &__address {
    flex-grow: 0;

    a, p {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 20px;
    background-color: $white;
    border-radius: 20px;
    overflow: hidden;
    transition: .2s linear;

    @include r($mobile) {
      position: absolute;
      top: 0;
      left: 20px;
      right: 0;
      height: 100%;
      width: calc(100% - 20px);
      padding: 40px 4px 40px 20px;
      transform: translateX(100%);
    }

    &.active {
      @include r($mobile) {
        transform: translateX(0);
      }
    }
  }

  &__inner {
    padding-right: 25px;
    max-height: 670px;
    overflow-y: auto;

    @include r($mobile) {
      padding-right: 11px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #EFF4FF;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      .mobile-menu__link {
        padding-top: 0;
      }
    }

    &.active {
      span {
        color: $primary;
      }

      svg {
        transform: rotate(180deg);
        fill: $primary;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ECECEC;

    &:hover {
      opacity: 1;

      span {
        color: $primary;
      }

      svg {
        transform: rotate(180deg);
        fill: $primary;
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $gray-black;
      transition: .2s linear;

      @include r($mobile) {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
      }
    }

    svg {
      display: flex;
      width: 12px;
      height: 12px;
      fill: $gray-black;
      transition: .2s linear;
    }
  }

  &__element {
    display: none;
    flex-direction: column;
    width: 100%;

    @include r($mobile) {
      gap: 10px;
    }

    &.active {
      display: flex;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 446px;

    @include r($mobile) {
      overflow: hidden;
    }

    &--inner {
      position: absolute;
      top: 0;
      left: calc(100% + 50px);
      display: none;
      height: 100%;
      gap: 18px;
      max-width: 370px;
      background-color: $white;

      @include r($mobile) {
        display: flex;
        left: 0;
        width: 100%;
        max-width: 100%;
        transform: translateX(150%);
        transition: .2s linear;
      }

      &.active {
        display: flex;

        @include r($mobile) {
          transform: translateX(0);
        }
      }

      .mobile-menu__link {
        padding: 0;
        border-bottom: none;
        transition: .2s linear;

        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          color: $gray;
          transition: .2s linear;

          &:hover {
            color: $gray-black;
          }
        }

        &:hover {
          text-decoration: underline;
          opacity: 1;
        }
      }
    }
  }
}
