.slider {
  display: flex;
  width: 100%;

  .swiper {
    width: 100%;
  }

  &--relative {
    position: relative;

    .swiper {
      position: static;
    }
  }

  &--light {
    .swiper-btn {
      background-color: #F1F2F6;

      svg {
        fill: $primary;
      }
    }
  }

  &--control {
    .swiper-control {
      top: initial;
      left: 20px;
      right: 20px;
      bottom: 20px;
      justify-content: space-between;
      gap: 18px;
      width: auto;
      transform: none;
      pointer-events: auto;

      @include r($mobile) {
        position: absolute;
        justify-content: center;
      }
    }
  }

  &--mob-visible {
    .swiper {
      @include r($mobile) {
        overflow: visible;
      }
    }
  }

  &--pagination {
    .swiper {
      display: flex;
      flex-direction: column;
      gap: 60px;

      @include r($mobile) {
        gap: 30px;
      }
    }

    .swiper-pagination {
      position: static;
      justify-content: center;
      margin: 0;
      transform: none;

      &-bullet {
        width: 8px;
        height: 8px;
        background-color: #F1F2F6;
        cursor: pointer;

        &-active {
          width: 60px;
          background-color: $primary;
          cursor: auto;
        }
      }
    }

    &-dark {
      .swiper-pagination-bullet {
        background-color: rgba(#000, .3);
      }
      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }

  &--full-page {
    width: 100vw;
  }

  &--mob-auto {
    @include r($mobile) {
      .swiper-slide {
        width: auto !Important;
      }
    }
  }

  &--auto {
    margin: 0 auto;
    width: fit-content;

    .swiper {
      @include r($mobile) {
        overflow: visible;
      }
    }

    .swiper-slide {
      width: auto !Important;
    }
  }

  &--visible {
    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      opacity: 0;
      pointer-events: none;
      transition: .2s linear;
    }

    .swiper-slide-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.swiper-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 18px;
  transform: translateX(-50%);
  z-index: 1;

  @include r($mobile) {
    bottom: 20px;
  }

  &-bullet {
    display: flex;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    transition: .2s linear;

    @include r($mobile) {
      width: 8px;
      height: 8px;
    }

    &-active {
      width: 40px;
      background-color: $violet;
      border-radius: 100px;
    }
  }
}

.swiper {
  &-control {
    position: absolute;
    top: 50%;
    left: -94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 188px);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;

    @include r($mobile) {
      position: static;
      width: 100%;
      margin-top: 30px;
      transform: none;
    }

    &--slim {
      left: -18px;
      width: calc(100% + 36px);
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    background-color: $primary;

    svg {
      display: flex;
      width: 8px;
      height: 8px;
      fill: $white;
    }

    &-prev {
      transform: rotate(-180deg);
    }
  }
}

.slider__btn--disabled {
  opacity: 0.7;
  pointer-events: none;
}
